/*
  CSS file for books.html
*/
body {
	background-color: lime;
}

.isbn {
	font-size: 80%;
}

.date {
	font-size: 80%;
	padding-top: 10px;
}

.publisher {
	text-transform: uppercase;
}

.author {
	color: purple;
	font-style: italic;

}

a:link {
	color: red;
}

a:visited {
	color: white;
}

a:hover {
	color: blue;
}

ul {
	list-style: none;
}

.bookcover {
	float: right;
}

.book {
	background-color:white;
	padding: 10px;

}

.clear
{
	background-color: white;
}