<style>
ul#menu {
    padding: 0;
}

ul#menu li {
	list-style-type:none;
    display: vertical;
	padding: 8px 0 8px 16px
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
}

ul#menu li a:hover {
    background-color: orange;
}

body { 
    background:  url("../images/steps.GIF") no-repeat fixed center; 
    background-size: contain;
}
</style>

