


ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50px;

}





ul#mainmenu {
  z-index: 10;
  position: absolute;
}

ul#mainmenu li div{
    background-color: black;
    color: white;
    padding: 5px  10px ;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    width: 40px;
}

ul#mainmenu li div:hover {
    background-color: orange;
    width: 40px;

}



   .invisible {
        display: none;
    }


#step1mid {
        z-index: 1;
        position: relative;
        color: red;
        background-image: url(../images/screenshot.jpg);
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        top: 0%;
        left: 0%;
}

.bottom {
  background-color: white;
}