body {
	font-family: 'Helvetica';
}
.parts{
	position: absolute;
	left: 620px;
	visibility: hidden;
}   

.parts img{
	max-width: 50%;
	border: 2px solid;

}
.head{
	position:absolute;
	left: 620px;
	top:10px;
}
.colors{
	position: absolute;
	top: 450px;
}
#red {
	background-color: red;
	width:10px;
	height: 10px;
}
#blue {
	background-color: blue;
	width:10px;
	height: 10px;
}
