
ul {
	text-align: center;
}

ul li{
	display:inline-block;
	list-style-type: none;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	font-family: 'arial';
	font-size: 15px;
	border-color: orange;
	border-style: solid;
	text-align: center;

}

.hl{
	background-color: blue;
	border-radius: 5px;
	text-align: center;
	color: white;
	font-weight: bold;

}

.hl:hover{
	background-color: yellow;
	cursor: pointer;
	color: black;
	transform: scale(1.5);
}

ol{
	text-align: center;
}

ol li.steps{
	display:inline-block;
	list-style-type: none;
	padding: 20px;
	padding-right: 15px;
	padding-left: 15px;
	font-family: 'arial';
	font-size: 10px;
	border-color: blue;
	border-style: solid;
}

.steps{
	background-color: orange;
	border-radius: 10px;
	text-align: center;
	color: black;
	font-weight: bold;

}

.steps:hover{
	background-color: yellow;
	cursor: pointer;
	color: black;
	transform: scale(1.5);
}

.stepList {
	position: absolute;
	width: 100%;
	top: 100px;
}

#menu {
	
}

#content {
	background-color: grey;
	position: fixed;
	/*padding-top: 75px;*/
	top: 180px;
	width: 33%;
	padding-left: 15px;
	z-index: -1;
		font-family: 'arial';

}

.container {
	background-color: white;
	width: 90%;
	align-content: center;
	position: fixed;
	width: 33%;

}

#threeD {
	position: fixed;
	background-color: blue;
	height: 80%;
	top: 180px;
	left: 36%;
	width: 60%;
		z-index: -1;

}

body{
	font-family: Arial;
}

#annotation{
	position: fixed;
	width: 33%;
	background-color: black;
	height: 300px;
	bottom: 50px;
}

.text{
	list-style-type: lower-alpha;
	text-align: left;
	
}

.intro{
	list-style-type: square;
	text-align: left;
	
}


