#photo {
  /*   Grabbed a random photo online and set the width and height to the width and height of the photo */
  width: 550px;
  height: 412px;
  background: url(../images/21.JPG);
   style="display:none

}

.hidden {
  /*   A class we'll use to hide elements by setting `display` to `none`…you can read more about `display` at https://developer.mozilla.org/en-US/docs/Web/CSS/display */
  display: none;
}

button {
  /*   Some styling of the button to make it bit easier to see */
  font-size: 1em;
  margin-bottom: 8px;
}



.fragment.current-visible.visible:not(.current-fragment) {
    display: none;
    height:0px;
    line-height: 0px;
    font-size: 0px;
}