


ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50px;

}





ul#mainmenu {
   cursor: pointer;
  z-index: 10;
  position: absolute;
}

ul#mainmenu li div{
   cursor: pointer;
    background-color: black;
    color: white;
    padding: 5px  10px ;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    width: 40px;
}

ul#mainmenu li div:hover {
   cursor: pointer;
    background-color: orange;
    width: 40px;

}



   .invisible { 
     cursor: pointer;
        display: none;
    }


#step1mid li {
 cursor: pointer;
  color:red;
}

#step1mid {
       
        z-index: 1;
        position: absolute;
        background-image: url(../images/screenshot.jpg);
        height: 756px;
        width: 1344px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 0%;
        left: 0%;
}

.bottom {

  background-color: grey;
  color: black;
  padding: 5px 5px;
}