/* CSS Rules for the Dado Tea Lunch Special Form */
body {
	width: 300px;
	background-color: lime;
}

h1 {
	color: Red;
	font-weight: bold;
}

hr {
	border: 0;
	height: 2px;
	background-image:  linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

button {
	color: blue;
	background-color: orange;
	padding: 3px;
}